<div class="col-sm-2 col-xs-3 chart-container">
    <h5 class="row text-muted truncate text-light" ng-bind="'Build'"></h5>
    <div class="build-metric default" ng-class="data.debug.status" ng-if="data.debug.status === 'pending'">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </div>

    <p class="build-icon build-metric" ng-class="data.debug.status" ng-if="data.debug.status !== 'pending'">
        <i class="glyphicon glyphicon-wrench"></i>
        <span ng-bind="'Debug'" class="build-title  text-light"></span>
    </p>

    <div class="release-metric default" ng-class="data.release.status" ng-if="data.release.status === 'pending'">
        <i class="glyphicon glyphicon-remove-circle"></i>
    </div>
    <p class="build-icon release-metric" ng-class="data.release.status" ng-if="data.release.status !== 'pending'">
        <i class="glyphicon glyphicon-gift"></i>
        <span ng-bind="'Release'" class="build-title text-light"></span>
    </p>
</div>