<div class="col-sm-4 col-xs-12 chart-container result">
    <h5 class="row truncate text-light text-muted" ng-bind="'Result'"></h5>
    <div class="row wrap">
        <h4 ng-bind="data.status.label" class="result-status text-light {{data.status.short}}"></h4>
    </div>
    <div class="row wrap">
        <h4 ng-bind="data.reason.label" class="result-reason text-info"></h4>
    </div>
    <div class="row wrap">
        <button ng-repeat="action in data.actions" class="btn btn-info actions" ng-bind="action.label">
      </button>
    </div>
</div>